/*--------------------contacto---------------------*/
.contactMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    margin: 10px;
    border-radius: 8px;
    background-color: $rosaSuave;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
}
.form:hover{
    box-shadow: 0px 5px 16px 3px $sombraClara;
    -webkit-box-shadow: 0px 5px 16px 3px $sombraClara;
    -moz-box-shadow: 0px 5px 16px 3px $sombraClara;
    transform: translateY(-1px);
}
.form legend {
    padding: 5px;
    text-align: center;
}
.fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre-apellido{
    padding: 8px;
}
.nombre-apellido input{
    outline: none;
    border-radius: 5px;
    border: 0;
    background-color: white;
    padding: 5px;
}
.email-telefono{
    padding: 8px;
}
.email-telefono input{
    outline: none;
    border-radius: 5px;
    border: 0;
    background-color: white;
    padding: 5px;
}
.dropdown{
    outline: none;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 0;
}
.mensaje textarea{
    outline: none;
    width: 100%;
    padding: 8px;
    border: 0;
    border-radius: 5px;
}
.checkbox{
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(249, 157, 182);
}
.botonesForm{
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.btnForm{
    width: 80px;
    margin: 5px;
    padding: 5px;
}
.submit{
    background-color: $rosaFuerte;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.reset{
    background-color: $rosaSuave;
    border: 0;
    border-radius: 5px;
    color: $rosaFuerte;
    font-weight: 600;
}